<section class="deneb_cta mt-5">
  <div class="container">
    <div class="cta_wrapper">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="cta_content">
            <h3>For your legal services</h3>
            <p>
              We are committed to client care and developing long-term
              relationships.
            </p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="button_box">
            <a href="#" class="btn btn-warning">Hire Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="deneb_footer">
  <div
    class="widget_wrapper"
    style="
      background-image: url(http://demo.tortoizthemes.com/deneb-html/deneb-ltr/assets/images/footer_bg.png);
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
          <div class="widget widegt_about">
            <div class="widget_title">
              <img
                src="/img/logo(Full color)-01.png"
                alt="Crystal Law Logo"
                width="170"
                height="70"
              />
            </div>
            <p class="">
              Crystal law Consult is a full-service Law Firm that provides
              tailored legal solutions to our Clients.
            </p>
            <ul class="social">
              <li>
                <a href="https://web.facebook.com/Ogunwaleandassociates"
                  ><i class="bi bi-facebook"></i
                ></a>
              </li>
              <li>
                <a href="https://www.instagram.com/crystallawconsult/"
                  ><i class="bi bi-instagram"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="widget widget_link">
            <div class="widget_title">
              <h4>Links</h4>
            </div>
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/practice">Practice</a></li>
              <li><a href="/team">Team</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="widget widget_contact">
            <div class="widget_title">
              <h4>Contact Us</h4>
            </div>
            <div class="contact_info">
              <div class="single_info">
                <div class="icon">
                  <i class="bi bi-telephone-fill"></i>
                </div>
                <div class="info">
                  <p><a href="tel:+2348060883053">+234-806-088-3053</a></p>
                </div>
              </div>
              <div class="single_info">
                <div class="icon">
                  <i class="bi bi-envelope-at-fill"></i>
                </div>
                <div class="info">
                  <p>
                    <a href="mailto:crystallawconsult@gmail.com"
                      >crystallawconsult@gmail.com</a
                    >
                  </p>
                </div>
              </div>
              <div class="single_info">
                <div class="icon">
                  <i class="bi bi-geo-alt-fill"></i>
                </div>
                <div class="info">
                  <p>
                    38 Opebi Road, Adebola House (CubeHub Suite 100, Rear
                    Wing)<span>Ikeja, Lagos.</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="subscribe-area pb-50 pt-70">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="subscribe-text mb-15">
            <span>JOIN OUR NEWSLETTER</span>
            <h2>subscribe to newsletter</h2>
          </div>
        </div>
        <div class="col-md-8">
          <div class="subscribe-wrapper subscribe2-wrapper mb-15">
            <div class="subscribe-form">
              <form action="#">
                <input placeholder="enter your email address" type="email" />
                <button>
                  subscribe <i class="bi bi-send-arrow-up-fill"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="copyright_area">
    <div class="container">
      <div class="row">
        <div class="col-auto me-auto">
          <div class="copyright_text">
            <p>Copyright &copy; 2023 All rights reserved.</p>
          </div>
        </div>
        <div class="col-auto">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
          Designed by <a href="mailto:olabinrifolarin@gmail.com">Flocode</a>
        </div>
      </div>
    </div>
  </div>
</footer>
