<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary py-1">
  <div class="container-fluid fw-bolder">
    <!-- <a class="navbar-brand fs-5 ms-5" href="#">CRYSTAL LAW</a> -->
    <a class="navbar-brand ms-5" href="#">
      <img
        src="/img/logo(Full color)-01.png"
        alt="Crystal Law Logo"
        width="250"
        height="100"
      />
    </a>
    <button
      class="navbar-toggler mb-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="d-flex justify-content-center collapse navbar-collapse"
      id="navbarNavAltMarkup"
    >
      <div
        class="nav-underline justify-content-center navbar-nav fs-5 fw-semibold collapse navbar-collapse"
        id="navbarNavAltMarkup"
      >
        <a class="ms-5 nav-link" aria-current="page" href="/">Home</a>
        <a class="ms-5 nav-link" href="/about">About</a>
        <a class="ms-5 nav-link" href="/practice">Practice</a>
        <a class="ms-5 nav-link" href="/team">Team</a>
        <a class="ms-5 nav-link" href="/contact">Contact us</a>
      </div>
    </div>
  </div>
</nav>
