<% layout('../layouts/boilerplate')%>
<!-- ======= About Boxes Section ======= -->
<section id="about-boxes" class="about-boxes">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="card">
          <img src="img/mission.jpg" class="card-img-top" alt="..." />
          <div class="card-icon">
            <i class="ri-brush-4-line"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">Our Mission</a></h5>
            <p class="card-text">
              To render excellent and economically viable services to our
              Clients while committed to building a legally informed society.
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="card">
          <img src="img/balance.jpg" class="card-img-top" alt="..." />
          <div class="card-icon">
            <i class="ri-calendar-check-line"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">Client Committment</a></h5>
            <p class="card-text">
              We are committed to client care and developing long-term
              relationships. To this end, our lawyers take adequate
              responsibility for client relationship in order to ensure that
              expectations are met.
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="card">
          <img src="img/africa.jpg" class="card-img-top" alt="..." />
          <div class="card-icon">
            <i class="ri-movie-2-line"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">Our Vision</a></h5>
            <p class="card-text">
              To be a solution-driven law firm that delivers excellent results
              in our Areas of Practice
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Boxes Section -->
