<% layout('../layouts/boilerplate')%>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.css"
/>
<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-1.12.0.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"
></script>
<script>
  $(document).ready(function () {
    $("#testimonial-slider").owlCarousel({
      items: 1,
      itemsDesktop: [1000, 2],
      itemsDesktopSmall: [979, 1],
      itemsTablet: [768, 1],
      pagination: false,
      navigation: true,
      slideSpeed: 1000,
      singleItem: true,
      transitionStyle: "goDown",
      navigationText: ["", ""],
      autoPlay: false,
    });
  });
</script>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12">
      <div id="testimonial-slider" class="owl-carousel">
        <div class="testimonial">
          <div class="pic">
            <img src="img/barr.jpeg" alt="" />
          </div>
          <div class="testimonial-content">
            <p class="description flex-grow-1 ms-3">
              Crystal law Consult is a full-service Law Firm that provides
              tailored legal solutions to our Clients both virtually and
              traditionally. We are strategically placed to offer top quality
              legal services to our clients in the major economic hubs of the
              country. Our Firm consists of multi-specialised dynamic lawyers
              that have a strong passion for excellence, innovation and client
              satisfaction.
            </p>
            <p class="description flex-grow-1 ms-3">
              As a team, we assist our clients in analyzing the risks involved
              in their transactions; and we mitigate and hedge those risks by
              strategising and implementing different types of risk management
              tools.
            </p>
            <p class="description flex-grow-1 ms-3">
              We are consistently ranked as a leading Nigerian law firm in the
              areas of Legal consultancy, Property Law & Real Estate Advisory,
              Contract Drafting & Review, Divorce and Matrimonial Causes, Wills,
              Letters of Administration (LOA)& Probate, Entertainment &
              Technology, Risk & Compliance, Employment, Media, Civil and
              Criminal Litigation, Tenancy & recovery of property,
              Transportation, Telecommunications, Debt Recovery, Fundamental
              Human Right Protection, Company registration/ Post Incorporation
              compliance, Intellectual Property, Dispute Resolution & Risk
              management, Commercial and Corporate services.
            </p>
            <p class="description flex-grow-1 ms-3">
              The partners and associates of the firm belong to various
              recognized professional bodies including The Nigerian Bar
              Association, Nigerian Institute of Management to mention a few.
              Membership in these associations affords us the opportunity to
              liaise with other members of the profession, thereby allowing us
              to develop the capabilities of the firm.
            </p>
            <h3 class="testimonial-title">
              Tomiwa Ogunwale
              <small class="post">Managing Partner</small>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ======= About Boxes Section ======= -->
<section id="about-boxes" class="about-boxes">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="card">
          <img src="img/mission.jpg" class="card-img-top" alt="..." />
          <div class="card-icon">
            <i class="ri-brush-4-line"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">Our Mission</a></h5>
            <p class="card-text">
              To render excellent and economically viable services to our
              Clients while committed to building a legally informed society.
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="card">
          <img src="img/balance.jpg" class="card-img-top" alt="..." />
          <div class="card-icon">
            <i class="ri-calendar-check-line"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">Client Committment</a></h5>
            <p class="card-text">
              We are committed to client care and developing long-term
              relationships. To this end, our lawyers take adequate
              responsibility for client relationship in order to ensure that
              expectations are met.
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="card">
          <img src="img/africa.jpg" class="card-img-top" alt="..." />
          <div class="card-icon">
            <i class="ri-movie-2-line"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">Our Vision</a></h5>
            <p class="card-text">
              To be a solution-driven law firm that delivers excellent results
              in our Areas of Practice
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Boxes Section -->
