<% layout('../layouts/boilerplate')%>

<div class="container vh-auto mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <!-- Section Heading-->
      <div
        class="section_heading text-center wow fadeInUp"
        data-wow-delay="0.2s"
        style="
          visibility: visible;
          animation-delay: 0.2s;
          animation-name: fadeInUp;
        "
      >
        <h3>Our Legal <span> Team</span></h3>
        <p>
          As a team, we assist our clients in analyzing the risks involved in
          their transactions; and we mitigate and hedge those risks by
          strategising different types of risk management tools.
        </p>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Single Advisor-->
    <div class="col-12 col-sm-6 col-lg-3">
      <div
        class="single_advisor_profile wow fadeInUp"
        data-wow-delay="0.2s"
        style="
          visibility: visible;
          animation-delay: 0.2s;
          animation-name: fadeInUp;
        "
      >
        <!-- Team Thumb-->
        <div class="advisor_thumb">
          <img
            src="./img/barr.jpeg"
            alt=""
            style="height: 350px; width: 250px; object-fit: cover"
          />
          <!-- Social Info-->
          <div class="social-info">
            <a href="#"><i class="bi bi-facebook"></i></a
            ><a href="#"><i class="bi bi-twitter"></i></a
            ><a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <!-- Team Details-->
        <div class="single_advisor_details_info">
          <h6>
            Tomiwa Ogunwale,<span style="font-size: 15px;" "font-style: italic"
              >Esq. LLM, FIMC, CMC, CRX (Harvard)</span
            >
          </h6>
          <p class="designation">Managing Partner</p>
          <button
            class="btn btn-sm btn-primary"
            onclick="window.location.href='/tomiwa'"
          >
            Profile
          </button>
        </div>
      </div>
    </div>
    <!-- Single Advisor-->
    <div class="col-12 col-sm-6 col-lg-3">
      <div
        class="single_advisor_profile wow fadeInUp"
        data-wow-delay="0.3s"
        style="
          visibility: visible;
          animation-delay: 0.3s;
          animation-name: fadeInUp;
        "
      >
        <!-- Team Thumb-->
        <div class="advisor_thumb">
          <img
            src="./img/barr2.jpeg"
            alt=""
            style="height: 350px; width: 250px; object-fit: cover"
          />
          <!-- Social Info-->
          <div class="social-info">
            <a href="#"><i class="bi bi-facebook"></i></a
            ><a href="#"><i class="bi bi-twitter"></i></a
            ><a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <!-- Team Details-->
        <div class="single_advisor_details_info">
          <h6>Paul, O. Ohikhena, Esq.</h6>
          <p class="designation">Partner</p>
          <button
            class="btn btn-sm btn-primary"
            onclick="window.location.href='/paul'"
          >
            Profile
          </button>
        </div>
      </div>
    </div>
    <!-- Single Advisor-->
    <div class="col-12 col-sm-6 col-lg-3">
      <div
        class="single_advisor_profile wow fadeInUp"
        data-wow-delay="0.4s"
        style="
          visibility: visible;
          animation-delay: 0.4s;
          animation-name: fadeInUp;
        "
      >
        <!-- Team Thumb-->
        <div class="advisor_thumb">
          <img
            src="https://bootdey.com/img/Content/avatar/avatar6.png"
            alt=""
            style="height: 350px; width: 250px; object-fit: cover"
          />
          <!-- Social Info-->
          <div class="social-info">
            <a href="#"><i class="bi bi-facebook"></i></a
            ><a href="#"><i class="bi bi-twitter"></i></a
            ><a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <!-- Team Details-->
        <div class="single_advisor_details_info">
          <h6>Olatunji Adebanke, Esq.</h6>
          <p class="designation">Senior Associate</p>
          <button
            class="btn btn-sm btn-primary"
            onclick="window.location.href='/olatunji'"
          >
            Profile
          </button>
        </div>
      </div>
    </div>
    <!-- Single Advisor-->
    <div class="col-12 col-sm-6 col-lg-3">
      <div
        class="single_advisor_profile wow fadeInUp"
        data-wow-delay="0.5s"
        style="
          visibility: visible;
          animation-delay: 0.5s;
          animation-name: fadeInUp;
        "
      >
        <!-- Team Thumb-->
        <div class="advisor_thumb">
          <img
            src="https://bootdey.com/img/Content/avatar/avatar7.png"
            alt=""
            style="height: 350px; width: 250px; object-fit: cover"
          />
          <!-- Social Info-->
          <div class="social-info">
            <a href="#"><i class="bi bi-facebook"></i></a
            ><a href="#"><i class="bi bi-twitter"></i></a
            ><a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <!-- Team Details-->
        <div class="single_advisor_details_info">
          <h6>Sunday C. Nwabueze, Esq.</h6>
          <p class="designation">Senior Associate</p>
          <button
            class="btn btn-sm btn-primary"
            onclick="window.location.href='/nwabueze'"
          >
            Profile
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Single Advisor-->
    <div class="container-fluid col-sm-6 col-lg-3">
      <div
        class="single_advisor_profile wow fadeInUp"
        data-wow-delay="0.2s"
        style="
          visibility: visible;
          animation-delay: 0.2s;
          animation-name: fadeInUp;
        "
      >
        <!-- Team Thumb-->
        <div class="advisor_thumb">
          <img
            src="./img/admin.jpeg"
            alt=""
            style="height: 250px; width: 250px; object-fit: cover"
          />
          <!-- Social Info-->
          <div class="social-info">
            <a href="#"><i class="bi bi-facebook"></i></a
            ><a href="#"><i class="bi bi-twitter"></i></a
            ><a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <!-- Team Details-->
        <div class="single_advisor_details_info">
          <h6>Michael Okonji</h6>
          <p class="designation">Administrative Officer</p>
          <button
            class="btn btn-sm btn-primary"
            onclick="window.location.href='/michael'"
          >
            Profile
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
